.add {
  background-color: #5cd882;
  padding: 30px;
  display: flex;
  position: sticky;
  top:0;  
}
.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  height: 50px;
  border: none;
  padding: 16px;
  outline: none;
}

.button {
  width: max(12%, 60px);
  height: 50px;
  border: none;
  background: #539d47;
  border-radius: 0px 5px 5px 0px;
  text-transform:uppercase;
  color: #cfe457;
  flex-shrink: 0;
  cursor: pointer;
  transition:  background-color .2s ease;
}

.button:hover {
  background-color: #cfe457;
  color: #35ac59;
}

.alert {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  height: 50px;
  border: none;
  padding: 16px;
  outline: none;
  color: #df7934;
  background-color: #fff;
  cursor: text;
}
.hide {
  display: none;
}